<html>
    <head>
        <title><%= title %></title>
        <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
            <div class="section" style="margin-top:5%;"></div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
                    <a class="navbar-brand" href="/">CampWast</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kategori
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/baju-celana">Baju dan Celana</a>
                            <a class="dropdown-item" href="/peralatan-gunung">Peralatan gunung</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Booking Peralatan gunung</a>
                          </div>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Mau apa ?" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Cari</button>
                      </form>
                    </div>
            </nav>
            <div class="section">
                <div class="container">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="card">
                          <div class="card-body shadow">
                            <p style="font-weight: bold;">Baju</p>
                            <div class="sid">
                            <ul>
                              <li>
                                  <a href="#">
                                      <p>Eiger</p>
                                  </a>
                              </li>
                              <li>
                                <a href="#">
                                    <p>Eiger</p>
                                </a>
                             </li>
                              <li>
                                <a href="#">
                                   <p>Eiger</p>
                                </a>
                             </li>
                              <li>
                                <a href="#">
                                <p>Eiger</p>
                                </a>
                              </li> 
                            </ul>
                          </div>
                        <hr>
                        <p style="font-weight: bold;">Celana</p>
                        <div class ="celana">
                          <ul>
                            <li>
                                <a href="#">
                                    <p>Consina</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Arei</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Eiger</p>
                                </a>
                            </li>
                          </ul>
                        </div>
                        </div>
                        </div>
                      </div>
                      <div class="col-sm-9">
                      <img src="/img/baju2.jpeg" alt="wallpaper" style="height: 40%; width: 100%;">
                        <div class="row" style="margin-top: 3%;">
                          <div class="col-sm-4">
                            <div class="card">
                              <img class="card-img-top" src="/img/kompor.jpg" alt="Card image cap" style="width: 100%;">
                                  <div class="card-body shadow-sm">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <h6 class="card-title">Tas Eiger</h6>
                                          </div>
                                          <div class="col-sm-6">
                                              <p style="margin: 0%">IDR</p>
                                              <h5 class="card-title">50.000</h5>
                                          </div>

                                      </div>
                                      <p class="card-text"></p>
                                      <div class="row">
                                          <div class="col-sm-5">
                                              <a href="" class="btn btn-outline-primary">Beli</a>
                                          </div>
                                          <div class="col-sm-7">
                                              <a href="#" class="btn btn-outline-success">Add To Card</a>                                                
                                          </div>
                                      </div>
                                  </div>
                          </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card">
                              <img class="card-img-top" src="/img/carrir1.jpg" alt="Card image cap" style="width: 100%;">
                                  <div class="card-body shadow-sm">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <h6 class="card-title">Tas Eiger</h6>
                                          </div>
                                          <div class="col-sm-6">
                                              <p style="margin: 0%">IDR</p>
                                              <h5 class="card-title">50.000</h5>
                                          </div>

                                      </div>
                                      <p class="card-text"></p>
                                      <div class="row">
                                          <div class="col-sm-5">
                                              <a href="" class="btn btn-outline-primary">Beli</a>
                                          </div>
                                          <div class="col-sm-7">
                                              <a href="#" class="btn btn-outline-success">Add To Card</a>                                                
                                          </div>
                                      </div>
                                  </div>
                          </div>  
                          </div>
                          <div class="col-sm-4">
                                <div class="card">
                                  <img class="card-img-top" src="/img/carrir1.jpg" alt="Card image cap" style="width: 100%;">
                                      <div class="card-body shadow-sm">
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <h6 class="card-title">Tas Eiger</h6>
                                              </div>
                                              <div class="col-sm-6">
                                                  <p style="margin: 0%">IDR</p>
                                                  <h5 class="card-title">50.000</h5>
                                              </div>
    
                                          </div>
                                          <p class="card-text"></p>
                                          <div class="row">
                                              <div class="col-sm-5">
                                                  <a href="" class="btn btn-outline-primary">Beli</a>
                                              </div>
                                              <div class="col-sm-7">
                                                  <a href="#" class="btn btn-outline-success">Add To Card</a>                                                
                                              </div>
                                          </div>
                                      </div>
                              </div>
                              </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="footer shadow-sm">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-3" style="padding: 4%;">
                            <h3>Kontak</h3>
                            <p>Jl.Kampus Dramaga,</p>
                            <p>Kab.Bogor ,16680</p>
                        </div>
                        <div class="col-sm-6" style="padding: 1%;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.6329488800297!2d106.7354630142117!3d-6.567925995249851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c4ebd7ac51b1%3A0x32de611a61f859b4!2sJl.+Raya+Dramaga%2C+Jawa+Barat!5e0!3m2!1sid!2sid!4v1532328073854" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-3" style="padding: 4%;">
                            <h3>Booking online</h3>
                              <p>Nomor Wa : 081516782208</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/usm/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    
    </body>
</html>